### Base system installation
d-i base-installer/kernel/override-image string linux-server

# Localization
d-i debian-installer/language string en
d-i debian-installer/country string DE
d-i debian-installer/locale string en_GB.UTF-8


d-i console-setup/ask_detect boolean false
d-i keyboard-configuration/xkb-keymap select German
d-i keyboard-configuration/modelcode select pc105
d-i keyboard-configuration/layout select German
d-i keyboard-configuration/variant select German
d-i kbd-chooser/method select German

### MOAR KEYBOARDZ!!
d-i keyboard-configuration/toggole select No toggling
d-i console-setup/detected note

### Account setup
d-i passwd/user-fullname string vagrant
d-i passwd/username string vagrant
d-i passwd/user-password password vagrant
d-i passwd/user-password-again password vagrant
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false

### Clock and time zone setup
d-i clock-setup/utc boolean true
d-i time/zone string UTC
#d-i time/zone string Asia/Tokyo

### Partitioning
d-i partman-auto/method string lvm
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-auto-lvm/guided_size string max
d-i partman/choose_partition select finish
d-i partman/confirm_nooverwrite boolean true

### Mirror settings
d-i mirror/protocol string http
d-i mirror/country string manual
d-i mirror/http/hostname string de.archive.ubuntu.com
d-i mirror/http/directory string /ubuntu
d-i mirror/http/proxy string

### Package selection
tasksel tasksel/first multiselect standard
d-i pkgsel/update-policy select none
d-i pkgsel/include string openssh-server
# FIXME: We can probably remove this
d-i pkgsel/install-language-support boolean false

### Boot loader installation
d-i grub-installer/only_debian boolean true

### Finishing up the installation
d-i finish-install/reboot_in_progress note
